* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    min-height: 100vh;
    background-color: var(--Cream);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 37.5rem;
}

.target,
.img-1 {
    background-color: var(--White);
    width: 50%;
}

.target {
    display: flex;
    flex-direction: column;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2rem;
    gap: 2rem;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.img-1 {
    width: 50%;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.producto {
    font-size: 0.75rem;
    color: var(--Dark-grayish-blue);
    line-height: 120%;
    padding: 0%;
    letter-spacing: 0.3125rem;
    font-weight: 500;
}

.brand {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    line-height: 100%;
    color: var(--Very-dark-blue);
}

.description {
    font-size: 0.875rem;
    line-height: 160%;
    color: var(--Dark-grayish-blue);
    font-weight: 500;
}

.precios {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rebaja {
    font-family: "Fraunces", serif;
    font-size: 2rem;
    line-height: 100%;
    font-weight: bold;
    color: var(--Dark-cyan);
}

.prereal {
    font-size: 0.8125rem;
    line-height: 120%;
    font-weight: 500;
    text-decoration: line-through;
    color: var(--Dark-grayish-blue);
}

.addc {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem 2rem;
    color: var(--White);
    background-color: var(--Dark-cyan);
    border-radius: 8px;
    font-size: 0.875rem;
    line-height: 110%;
    border: none;
}

.addc:hover,
.addc:focus {
    background-color: var(--Very-dark-blue);
    cursor: pointer;
}

.img-2 {
    display: none;
}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: center;

    }

    .target {
        display: flex;
        gap: 1.5rem;
        width: 93%;
        border-radius: 0 0 8px 8px;

    }

    .img-1 {
        display: none;
    }

    .img-2 {
        display: block;
        width: 93%;
        border-radius: 8px 8px 0 0;

    }
}